// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require_tree .

/***********************************************************************************************************************
/ Main
/**********************************************************************************************************************/

var loaders, pages;

var currentUser = null,
    profileId = null,
    providerId = null,
    bookingId = null,
    rate = 0,
    back = null,
    favorites = {},
    messages = [],
    linkedInConnections = [];

var users = null;
var global_info = null;
var filter_settings = {
    query: '',
    category: {label: 'Industry', value: null},
    subcategory: {label: 'Subcategories', value: null},
    city: {label: 'City', value: null},
    college: {label: 'College', value: null},
    hourly_rate_from: {label: '0', value: 0},
    hourly_rate_to: {label: '200', value: 200},
    rate_from: {label: '0', value: 0},
    rate_to: {label: '5', value: 5},
    subcategories: []
}
var bookings = {};
var booking = {
    budget: null,
    due_date: null,
    description: null
}
var avatar_change = false;
var chart_options = {
    chart: {
        type: 'areaspline',
        renderTo: 'bookings-chart',
        margin: 0,
        backgroundColor: 'transparent'
    },
    credits: {
        enabled: false
    },
    title: {
        text: ''
    },
    xAxis: {
        type: 'datetime',
        lineColor: '#333'
    },
    yAxis: {
        title: {
            enabled: false
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#000'
        }],
        labels: {
            style: {
                color: '#ddd'
            }
        },
        min: 0,
        gridLineColor: '#eee',
        gridLineDashStyle: 'longdash'
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        borderWidth: 0,
        enabled: false
    },
    plotOptions: {
        areaspline: {
            lineWidth: 3,
            fillOpacity: 0.1,
            marker: {
                symbol: 'circle',
                fillColor: '#ffffff',
                lineWidth: 2,
                lineColor: null,
                radius: 3
            }
        }
    },
    series: [{
        color: '#75b9dc',
        data: []
    }]
};

var states = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District Of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'American Samoa': 'AS',
    'Guam': 'GU',
    'Northern Mariana Islands': 'MP',
    'Puerto Rico': 'PR',
    'United States Minor Outlying Islands': 'UM',
    'Virgin Islands': 'VI',
    'Armed Forces Americas': 'AA',
    'Armed Forces Pacific': 'AP',
    'Armed Forces Others': 'AE'
}

$(window).on('load', function () {
    pages = {

        'active': '',

        'home': {

            'href': '',
            'load': function () {
                $('#background').removeClass('disabled');
                $('#admin-panel').removeClass('disabled');

                rF = {

                    /* Name, email, zip fields and send button. */

                    'href': '/presentation/subscribe',

                    'e': $('#register-form-email')

                };

                cF = $('#contact-form');
                cF = {

                    /* Name, email, phone number, reason for contact, message fields and contact button. */

                    'href': '/send_message',

                    'n': cF.find('.name'),
                    'e': cF.find('.email'),
                    'm': cF.find('.message')

                };

            }

        },

        'login': {

            'href': '/login',
            'load': function () {

                sF = $('#sign-in');
                sF = {

                    'href': '/user/signin',

                    'email': sF.find('.email'),
                    'password': sF.find('.password')

                };

            }

        },

        'signup': {

            'href': '/signup',
            'load': function () {

                if ($('#admin-panel')) {
                    $('#admin-panel').addClass('disabled');
                }
                if ($('#background')) {
                    $('#background').addClass('disabled');
                }

                sF = $('#demander-form');
                sF = {

                    'href': '/user/signup',

                    'a': sF.find('#image-upload #avatar'),

                    'fn': sF.find('.first_name'),
                    'ln': sF.find('.last_name'),
                    'e': sF.find('.email'),
                    'z': sF.find('.zip'),
                    'p': sF.find('.password'),
                    'pc': sF.find('.password_confirmation'),
                    'as': false
                }

                sF.a.on('change', function () {
                    sF.as = true;
                });
            }

        },

        'signup_demander': {
            'href': '/signup_demander',
            'load': function () {
                if ($('#admin-panel')) {
                    $('#admin-panel').addClass('disabled');
                }
                if ($('#background')) {
                    $('#background').addClass('disabled');
                }

                //  Prefill the fields
                $('.company_name').val(currentUser.company_name);
                $('.company_description').val(currentUser.company_description);
                $('.title').val(currentUser.title);
                $('#category_id').val(currentUser.category_id);

                $.ajax({
                    url: 'http://backend.liquidtalent.com/get_info',
                    error: function (error) {
                        alert("Problem with connecting to the server");
                    }
                }).done(function (data) {
                            data['response']['categories'].forEach(function (item) {
                                $('#categories').append('<div onclick="setCategory(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')

                                if(currentUser.category_id * 1 == item['id'] * 1) {
                                    $('.category').val(item['name']);
                                }
                            })
                        });

                $('.category').click(function () {
                    if($('#categories').is(':visible')) {
                        $('#categories').hide();
                    }
                    else {
                        $('#categories').show();
                    }
                });
            }
        },

        'signup_service_provider': {
            'href': '/signup_service_provider',
            'load': function () {
                if ($('#admin-panel')) {
                    $('#admin-panel').addClass('disabled');
                }
                if ($('#background')) {
                    $('#background').addClass('disabled').css('overflow-y', 'scroll');;
                }

                //  Prefill the fields
                $('#category_id').val(currentUser.category_id);
                $('#school_id').val(currentUser.school_id);
                $('.description').val(currentUser.description);
                $('.school').val(currentUser.school_name);
                $('.summary').val(currentUser.summary);
                $('.hourly_rate').val(currentUser.hourly_rate);
                $('.skills').val(currentUser.skills);
                $('.portfolio').val(currentUser.portfolio);
                $('.experience').val(currentUser.experience);
                $('.years_in_industry').val(currentUser.years_in_industry);

                sF = $('#provider-form');
                sF = {
                    'href': '/user/set_details'
                };

                $.ajax({
                    url: 'http://backend.liquidtalent.com/get_info',
                    error: function (error) {
                        alert("Problem with connecting to the server");
                        console.log(error);
                    }
                }).done(function (data) {
                            data['response']['categories'].forEach(function (item) {
                                $('#categories').append('<div onclick="setCategory(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')

                                if(currentUser.category_id * 1 == item['id'] * 1) {
                                    $('.category').val(item['name']);
                                }
                            })
                });

                $('.category').click(function () {
                    $('#categories').show();
                });
            }
        },

        'search': {

            'href': '/search',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                if(users == null) {
                    filterUsers(listSearch);
                }
                else {
                    listSearch(users);
                }

                prepareFilter('listSearch');
            }

        },

        'map': {

            'href': '/map',
            'load': function () {

                if ($('#background.disabled')) { $('#background').removeClass('disabled'); }
                if ($('#admin-panel.disabled')) { $('#admin-panel').removeClass('disabled'); }

                if(currentUser == null) {
                    showPlaceholder('Search');
                    return false;
                }

                if (users == null) {
                    filterUsers(loadMap);
                }
                else { loadMap(users); }

                prepareFilter('loadMap');
            }

        },

        'favorites': {

            'href': '/favorites',
            'load': function () {

                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadFavorites();

                $('.black-button').click(function() {
                    if($('.removeFavorite').is(':visible')) {
                        $('.removeFavorite').hide();
                    }
                    else {
                        $('.removeFavorite').show();
                    }
                });
            }

        },

        'stats': {

            'href': '/stats',
            'load': function () {

                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadStats(7);

                $('#term-selector').click(function () {
                    if($('#term-selector-options').is(':visible')) {
                        $('#term-selector-options').hide();
                    }
                    else {
                        $('#term-selector-options').show();
                    }
                });

            }

        },

        'profile': {
            'href': '/profile',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadProfile()
            }
        },

        'video_upload': {
            'href': '/video_upload',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }
            }
        },

        'hire': {
            'href': '/hire',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadHire();

                $( ".due-date" ).datepicker();
                $( ".due-date" ).datepicker("option", "dateFormat", "yy-mm-dd");
            }
        },

        'hire_confirm': {
            'href': '/hire_confirm',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                $('#total-amount').html(booking.budget);

                if(currentUser.stripe_customer_id == null) {
                    $('#cc-form').show();
                    $('#booking-form').hide();

                    $( ".exp" ).datepicker( {
                        changeMonth: true,
                        changeYear: true,
                        showButtonPanel: true,
                        dateFormat: 'mm/yy',
                        minDate:'m',
                        onClose: function(dateText, inst) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1));

                            $('.exp-year').val(year);
                            $('.exp-month').val(month * 1 + 1);
                        },
                        beforeShow : function(input, inst) {
                            if ((datestr = $(this).val()).length > 0) {
                                year = datestr.substring(datestr.length-4, datestr.length);
                                month = jQuery.inArray(datestr.substring(0, datestr.length-5), $(this).datepicker('option', 'monthNames'));
                                $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                                $(this).datepicker('setDate', new Date(year, month, 1));
                            }
                        }
                    });

                }
                else {
                    $('#cc-form').hide();
                    $('#booking-form').show();
                }
            }
        },

        'hire_accept': {
            'href': '/hire_accept',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                $('#total-amount').html(bookings[bookingId].booking.budget);

                if(currentUser.stripe_recipient_id == null) {
                    $('#bank-form').show();
                    $('#booking-form').hide();
                }
                else {
                    $('#bank-form').hide();
                    $('#booking-form').show();
                }
            }
        },

        'projects': {
            'href': '/projects',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadProjects();
            }
        },

        'rate': {
            'href': '/rate',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                loadRate();
            }
        },

        'settings': {
            'href': '/settings',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                if(currentUser === null) {
                    showPlaceholder('Settings');
                    return false;
                }

                $('#linkedin-sync').click(function(e) {
                    e.preventDefault();

                    document.cookie = 'redirect=settings';
                    window.location = 'https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77h2pt4b4liwxo&scope=r_basicprofile+r_fullprofile+r_emailaddress+r_contactinfo&state=' + currentUser.id + '&redirect_uri=http://backend.liquidtalent.com:6789/linkedin';
                });

                $('#email').attr('href', 'mailto:hello@liquidtalent.com?subject=LiquidTalent&body=' + currentUser.name + ' recommends LiquidTalent to monetize your craft and apply for high paying jobs.')

                cF = $('#settings-contact');
                cF = {
                    /* Name, email, phone number, reason for contact, message fields and contact button. */
                    'href': '/send_message',

                    'n': cF.find('.name'),
                    'e': cF.find('.email'),
                    'm': cF.find('.message')
                };
            }
        },

        'update_demander': {
            'href': '/update_demander',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                $.ajax({
                    url: 'http://backend.liquidtalent.com/get_info',
                    error: function (error) {
                        alert("Problem with connecting to the server");
                    }
                }).done(function (data) {
                            data['response']['categories'].forEach(function (item) {
                                $('#categories').append('<div onclick="setCategory(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')

                                if(currentUser.category_id * 1 == item['id'] * 1) {
                                    $('.category').val(item['name']);
                                }
                            })
                        });

                $('.category').click(function () {
                    if($('#categories').is(':visible')) {
                        $('#categories').hide();
                    }
                    else {
                        $('#categories').show();
                    }
                });

                $('#category_id').val(currentUser.category_id);

                $('.name').val(currentUser.name);
                $('.email').val(currentUser.email);
                $('.zip').val(currentUser.zip);

                $('.company_name').val(currentUser.company_name);
                $('.title').val(currentUser.title);

                $('#avatar').change(function() {
                    avatar_change = true;
                });
            }
        },

        'update_provider': {
            'href': '/update_provider',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }

                $.ajax({
                    url: 'http://backend.liquidtalent.com/get_info',
                    error: function (error) {
                        alert("Problem with connecting to the server");
                    }
                }).done(function (data) {
                    data['response']['categories'].forEach(function (item) {
                        $('#categories').append('<div onclick="setCategory(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')

                        if(currentUser.category_id * 1 == item['id'] * 1) {
                            $('.category').val(item['name']);
                        }
                    })
                });

                $('.category').click(function () {
                    if($('#categories').is(':visible')) {
                        $('#categories').hide();
                    }
                    else {
                        $('#categories').show();
                    }
                });

                $('.name').val(currentUser.name);
                $('.email').val(currentUser.email);
                $('.zip').val(currentUser.zip);
                $('.years_in_industry').val(currentUser.years_in_industry);
                $('.description').val(currentUser.description);
                $('.skills').val(currentUser.skills);
                $('.hourly_rate').val(currentUser.hourly_rate);
                $('.portfolio').val(currentUser.portfolio);
                $('.experience').val(currentUser.experience);
                $('.summary').val(currentUser.summary);
                $('.school').val(currentUser.school_name);

                $('#category_id').val(currentUser.category_id);
                $('#school_id').val(currentUser.school_id);

                $('#avatar').change(function() {
                    avatar_change = true;
                });

                $('#video').change(function() {
                    uploadVideo();
                });
            }
        },

        'terms': {
            'href': '/terms',
            'load': function () {
                if ($('#admin-panel')) { $('#admin-panel').removeClass('disabled'); }
                if ($('#background')) { $('#background').removeClass('disabled').css('overflow-y', 'scroll'); }
            }
        }

    };

    loaders = {

        'tags': $('.loader'),

        'toggle': function (loader, opacity) {

            loader = loaders.tags.each(function () {

                if ($(this).prop('alt') === loader) {
                    return $(this);
                }

            });
            loader.animate({ 'opacity': opacity }, 1000, 'linear');

        }

    };

    //  Saving current session
    if(currentUser == null && getCookie('userId')) {
        $('#preloader').show();

        show_user(getCookie('userId'), function(data) {
            currentUser = data['response']['user'];
            currentUser.token = getCookie('userToken');
            createUser (currentUser, 'home');

            $('#preloader').hide();
        });
    }

    $('#admin-panel .navigation .link').each(function (i, e) {

        $(e).on('mouseover', function (e) { ToggleNavigationHover(e); });
        $(e).on('mouseout', function (e) { ToggleNavigationHover(e); });

    });

    loadPage('home');
});

function ToggleNavigationHover (e) {

    if (!e) { e = $(window.event.currentTarget).find('.icon'); }
    else { e = $(e.currentTarget).find('.icon'); }

    if (/hover/.test($(e).prop('class'))) { $(e).removeClass('hover'); }
    else { $(e).addClass('hover'); }

}
function Response(response) {

    alert("Could not connect to the server. Please try again later.");
    console.log(response);

}
function loadPage(page) {

    if (currentUser === null) { $('.hiw').css({ display: 'none', opacity: 0 }); }
    else { $('.hiw').each(function (i, e) { $(e).removeAttr('style'); }); }

    Object.keys(pages).forEach(function (p) {
        if (pages[p].href === page.replace(/\?.+$/, '')) {
            pages.active = pages[p];
        }
    });

    if (page === '/login') {
        var inviteCode = prompt('Please enter your invitation code to proceed.', 'Invitation code');
        if(inviteCode) {
            checkInviteCode(inviteCode, function(status) {
                if(status) {
                    loadPageAjax(page);
                }
            });
        }
        else {
            return;
        }
    }
    else {
        loadPageAjax(page)
    }

    return false;
}

function loadPageAjax(page) {
    if (pages.active !== '') {

        $('#content-preloader').show();

        $.ajax({
            url: page,
            error: Response
        }).done(function (data) {
                    $('#content-preloader').hide();
                    $('#preloader').hide();

                    $('#background').html(data);
                    pages.active.load();
                });

    }
}
function getURLParameter(name) {
    return (decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1]).replace(/\+/g, '%20')) || null;
}

function createUser (data, target) {
    showUserInfo();
    checkUnreadMessages();
    loadPage('/' + target);

    document.cookie = 'userId=' + currentUser.id;
    document.cookie = 'userToken=' + currentUser.token;

    currentUser.avatar_url = (currentUser.avatar_url != null) ? currentUser.avatar_url : '<%= asset_path "new/main/avatar.png" %>';
}

/***********************************************************************************************************************
/ Presentation
/**********************************************************************************************************************/

var rF;
var cF;
var pageSegments;

function SubmitRegisterForm() {

    $.ajax({
        url: rF.href,
        type: 'post',
        data: 'email=' + rF.e.val(),
        error: Response
    }).done(function (response) {

        if (response.success !== '') {
            alert('Keep your eyes out for an email from LiquidTalent explaining the next approval steps.');
            rF.e.val('');
        }
        else { alert(response.error); }

    });

}
function SubmitContactForm() {

    loaders.toggle('contact', 1);

    $.ajax({
        url: '/send_message',
        type: 'post',
        data: 'name=' + $('#contact-form .name').val() + '&email=' + $('#contact-form .email').val() + '&message=' + $('#contact-form .message').val(),
        error: Response
    }).done(function () {

        loaders.toggle('contact', 0);

    }).done(function (response) {
        if (response.success !== '') { /* alert(response.success); */ }
        else { alert(response.error); }
    });

}
function RevealPage(pageSegment) {

    pageSegments = {};
    $('.page-segment').each(function (i, e) {

        pageSegments[$(e).prop('title')] = $(e);

    });

    if (pageSegment === 'privacy') {

        Object.keys(pageSegments).forEach(function (page) {

            pageSegments[page].css({
                display: 'none',
                opacity: 0
            });

        });

        pageSegments.privacy.css('display', 'block').animate({ 'opacity': 1 }, 300, 'linear', null);

    }
    else {

        Object.keys(pageSegments).forEach(function (page) {

            pageSegments[page].css({
                display: 'block',
                opacity: 1
            });

        });

        pageSegments.privacy.animate({ 'opacity': 0 }, 300, 'linear', function () {
            pageSegments.privacy.css('display', 'none');
        });

    }

    $('html, body').delay(500).animate({ scrollTop: $(pageSegments[pageSegment]).offset().top }, 300, 'linear', null);

}
function showPlaceholder (page) {

    if (currentUser === null) {

        $('#background').html(
            '<div id="title" class="no-margin">' +
                '<a class="black-button" href="javascript: window.location = \'/\';">Back</a>' +
            '</div>' +
            '<div id="placeholder">' +
                'Explore all of LiquidTalent.' +
                '<a href="javascript: applyForm();" class="green-button">Sign up</a>' +
            '</div>'

        );

    }
    else {

        $('#background').html(

            '<div id="placeholder">' +
                'No ' + page + ' have been added here yet.' +
                '<a href="javascript:loadPage(\'/map\')" class="green-button">Search</a>' +
            '</div>'

        );

    }

}

var sF;

/***********************************************************************************************************************
/ User
/**********************************************************************************************************************/

function login() {

    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com' + sF.href,
        data: 'email=' + sF.email.val() + '&password=' + sF.password.val()
    }).done(function (data) {

        if (data['status'] === 'failed') { alert(data['errors'][0]); }
        else {
            currentUser = data['response']['user'];

            createUser(data['response']['user'], 'search');
        }

        $('#preloader').hide();

        getFavorites();
    });

}
function logout() {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/logout',
        data: 'user_id=' + currentUser.id + '&token=' + currentUser.token
    }).done(function (data) {
        currentUser = null;

        delete_cookie('userId');
        delete_cookie('userToken');

        window.location = '/'
    });
}

/***********************************************************************************************************************
/ SignUp
/**********************************************************************************************************************/

function SubmitSignupForm(userType) {
    $('#preloader').show();

    //  Validate password
    if($('.password').val().length < 5) {
        alert('Password needs to have at least 5 chars.');
        $('#preloader').hide();
        return false;
    }
    if($('.password').val() != $('.password_confirmation').val()) {
        alert('Passwords are not the same.');
        $('#preloader').hide();
        return false;
    }
    if($('.zip').val().length < 4) {
        alert('Please, set your ZIP code.');
        $('#preloader').hide();
        return false;
    }

    $.ajax({
        url: 'http://backend.liquidtalent.com' + sF.href,
        data: 'name=' + sF.fn.val() + ' ' + sF.ln.val() + '&email=' + sF.e.val() + '&zip=' + sF.z.val() + '&password=' + sF.p.val() + '&password_confirmation=' + sF.pc.val(),
        error: Response
    }).done(function (data) {
                if (data['status'] === 'failed') {
                    alert(data['errors'][0]);
                    $('#preloader').hide();
                }
                else {
                    if (sF.as === true) {
                        $.ajax({
                            url: 'http://backend.liquidtalent.com/user/set_avatar',
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            data: function () {
                                var rq_data = new FormData();
                                rq_data.append("user_id", data['response']['user']['id']);
                                rq_data.append("token", data['response']['user']['token']);
                                rq_data.append("avatar", sF.a.get(0).files[0]);
                                return rq_data;
                            }(),
                            error: Response
                        }).done(function (avatar_data) {
                                    if (avatar_data['status'] === 'failed') {
                                        alert(avatar_data['errors'][0]);
                                        $('#preloader').hide();
                                    }
                                    else {
                                        currentUser = data['response']['user'];
                                        currentUser['avatar_url'] = avatar_data['response']['url'];

                                        if (userType == 'provider') {
                                            createUser(data, 'signup_service_provider?user_id=' + data['response']['user']['id'] + '&token=' + data['response']['user']['token']);
                                        }
                                        else { createUser(data, 'signup_demander'); }
                                    }
                                });

                    }
                    else {
                        currentUser = data['response']['user'];

                        if (userType == 'provider') {
                            createUser(data, 'signup_service_provider?user_id=' + data['response']['user']['id'] + '&token=' + data['response']['user']['token']);
                        }
                        else { createUser(data, 'signup_demander'); }
                    }
                }

            });

    return false;

}

function submitDemander(linkedin) {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/set_details?' +
                'user_id=' + currentUser.id +
                '&token=' + currentUser.token +
                '&attr[company_name]=' + $('.company_name').val() +
                '&attr[company_description]=' + $('.company_description').val() +
                '&attr[title]=' + $('.title').val() +
                '&attr[category_id]=' + $('#category_id').val(),
        error: Response
    }).done(function (data) {
                if (data['status'] === 'failed') {
                    alert(data['errors'][0]);
                    $('#preloader').hide();
                }
                else {
                    token = currentUser.token;
                    currentUser = data.response;
                    currentUser.token = token;

                    if(linkedin) {
                        document.cookie = 'redirect=signup_demander';
                        window.location = 'https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77h2pt4b4liwxo&scope=r_basicprofile+r_fullprofile+r_emailaddress+r_contactinfo&state=' + currentUser.id + '&redirect_uri=http://backend.liquidtalent.com:6789/linkedin'
                    }
                    else {
                        loadPage('/map');

                        var container = $('#wrapper'), scrollTo = $('.hiw');
                        container.animate({
                            scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
                        });
                    }
                }
    });
}

function SubmitSignupSPForm(linkedin) {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com' + sF.href,
        data: 'user_id=' + currentUser.id +
                '&token=' + currentUser.token +
                '&attr[category_id]=' + $('#category_id').val() +
                '&attr[school_id]=' + $('#school_id').val() +
                '&attr[description]=' + $('.description').val() +
                '&attr[summary]=' + $('.summary').val() +
                '&attr[hourly_rate]=' + $('.hourly_rate').val() +
                '&attr[skills]=' + $('.skills').val() +
                '&attr[portfolio]=' + $('.portfolio').val() +
                '&attr[experience]=' + $('.experience').val() +
                '&attr[years_in_industry]=' + $('.years_in_industry').val() +
                '&attr[is_provider]=1',
        error: Response
    }).done(function (data) {
                if (data['status'] === 'failed') {
                    alert(data['errors'][0]);
                    $('#preloader').hide();
                }
                else {
                    if(linkedin) {
                        document.cookie = 'redirect=signup_service_provider';
                        window.location = 'https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77h2pt4b4liwxo&scope=r_basicprofile+r_fullprofile+r_emailaddress+r_contactinfo&state=' + currentUser.id + '&redirect_uri=http://backend.liquidtalent.com:6789/linkedin'
                    }
                    else {
                        loadPage('/map');

                        var container = $('#wrapper'), scrollTo = $('.hiw');
                        container.animate({
                            scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
                        });
                    }
                }
            });

}

function searchSchool(query) {

    if (query === '') {
        $('#schools').html('');
        return;
    }

    $.ajax({
        url: 'http://backend.liquidtalent.com/schools/search?search=' + query,
        error: Response
    }).done(function (data) {
                $('#schools').show();
                $('#schools').html('');

                data['response'].forEach(function (school) {
                    $('#schools').append('<div class="option" onclick="setSchool(' + school['_source']['id'] + ', \'' + school['_source']['name'] + '\');filterUsers(listSearch);">' + school['_source']['name'] + '</div>')
                })
            });
}

function setQuery(query) {

    $('.search-field').val(query);
    $('#query').val(query);

    filter_settings.query = query;

    filterUsers(listSearch);

}

function setCategory(id, name) {
    $('.category').val(name);
    $('#category_id').val(id);

    filter_settings.category.label = name;
    filter_settings.category.value = id;


    $('#categories').hide();

    $('.subcategory').val('Subcategories');
    $('#subcategories').html('');

    if(id == null) {
        $('#subcategory_id').val(null);
    }

    /*
    global_info['sub_categories'].forEach(function (item) {
        if(item['parent_id'] == id) {
            $('#subcategories').append('<div onclick="setSubcategory(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>');
            filter_settings.subcategories.push({label: item['name'], value: item['id']});
        }
    });
    */

    $('#categories').hide();
}

function setSubcategory(id, name) {
    $('.subcategory').val(name);
    $('#subcategory_id').val(id);

    filter_settings.subcategory.label = name;
    filter_settings.subcategory.value = id;

    $('#subcategories').hide();
}

function setCity(id, name) {
    $('.city').val(name);
    $('#city_id').val(id);

    filter_settings.city.label = name;
    filter_settings.city.value = id;

    $('#cities').hide();
}

function setSkills(id, name) {

    $('.skills').val(name);
    $('#category_id').val(id);

    $('#skills').hide();
}

function setState(id, name) {

    $('.state').val(name);
    $('#state_id').val(id);

    $('#states').html('');
}

function setSchool(id, name) {
    $('.school').val(name);
    $('#school_id').val(id);

    filter_settings.college.label = name;
    filter_settings.college.value = id;

    $('#schools').html('');
}

function show_user(user_id, callback) {
    $.ajax({
        url: 'http://backend.liquidtalent.com/user/show?user_id=' + user_id,
        error: Response
    }).done(function (data) {
                return callback(data);
            });
}

function linkedin_connect(access_token) {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/linkedin_connect/?access_token=' + access_token,
        error: Response
    }).done(function (data) {
                if (data['response']['new_user']) {
                    if (confirm('Do you want to register as a Service Provider?')) {
                        loadPage('/signup_service_provider?user_id=' + data['response']['user']['id'] + '&token=' + data['response']['user']['token']);
                    }
                    else {
                        currentUser = data['response']['user'];
                        createUser(data, 'map');
                    }

                    $('#preloader').hide();
                }
                else {
                    currentUser = data['response']['user'];
                    createUser(data, 'map');
                }
            });
}

function linkedin_synchro(access_token, user_id) {
    $.ajax({
        url: 'http://backend.liquidtalent.com/user/linkedin_synchro/?access_token=' + access_token + '&user_id=' + user_id,
        error: Response
    }).done(function (data) {
        currentUser = data['response'];
        alert('We have successfully updated your account with Linkedin data.');

        createUser (currentUser, getCookie('redirect'));
     });
}

/*
function logout() {
    current_user = false;

    document.cookie = 'userId=';

    window.location = '/'

    return false;
}
*/

/****** Search ******/

var map;

function showUserInfo() {

    if ('linkedin_token' in currentUser && currentUser.linkedin_token !== null) {

        $.ajax({
            url: 'http://backend.liquidtalent.com/user/find_linkedin_connections',
            data: 'access_token=' + currentUser.token + '&user_id=' + currentUser.linkedin_token
        }).done(function (data) { linkedInConnections = data.response; });

    }

    currentUser['state'] = checkState(currentUser['state']);
    currentUser['city_name'] = (!currentUser['city_name'])? 'New York' : currentUser['city_name'];

    var avatar = currentUser['avatar_url'] ? currentUser['avatar_url'] : '<%= asset_path "new/main/avatar.png" %>';

    $('#admin-panel .header .login').hide();
    $('#user-info').show();

    $('#user-info .avatar').attr('src', avatar);
    $('#user-info .name').html(currentUser['name']);
    $('#user-info .location').html(currentUser['city_name'] + ', ' + currentUser['state']);

    $('html, body').delay(2000).animate({ scrollTop: $('.page-segment.hiw').offset().top }, 300, 'linear', null);

}

function loadMap(providers) {
    if(currentUser == null) {
        showPlaceholder('Search');
        return false;
    }

    map = {

        'markers': [],
        'infoWindow': new google.maps.InfoWindow({ content: '...' }),

        'googleMap': new google.maps.Map(document.getElementById('map'), {
            'center': new google.maps.LatLng(40.5403, -73.5463),
            'zoom': 8,
            'mapTypeId': google.maps.MapTypeId.ROADMAP
        }),

        'iW': {
            'LTDrop': $('#map-overlay .lt-drop'),
            'title': $('#map-overlay .title'),
            'linkedIn': $('#map-overlay .linkedin-icon'),
            'description': $('#map-overlay .description'),
            'play': $('#map-overlay .play'),
            'favorite': $('#map-overlay .favorite'),
        }

    };

    $('#content-preloader').hide();

    providers.forEach(function (user) {


        /* Info Windows */


        user.avatar_url = (user.avatar_url === null) ? '<%= asset_path "new/main/avatar.png" %>' : user.avatar_url;
        $('#map-overlay').css('background-image', user.avatar_url);

        map.iW.LTDrop.removeClass('hidden').removeClass('blue').removeClass('bronze').removeClass('silver').removeClass('gold');
        if (user.badge === 'no') { map.iW.LTDrop.addClass('hidden'); }
        else { map.iW.LTDrop.addClass(user.badge); }

        map.iW.title.attr('onclick', 'profileId=' + user.id + '; back="map"; loadPage("/profile");');
        map.iW.title.html(
            '<p class="name">' + user.name + '</p>' +
            ((user.hourly_rate===null) ? user.title.substr(0, 24) : calculateCost(user.hourly_rate))
        );

        map.iW.description.attr('onclick', 'profileId=' + user.id + '; back="map"; loadPage("/profile");');
        map.iW.description.html(
            user.description === null ? '' : user.description.substr(0, 24) + '...'
        );

        if (user.video_url !== null) { map.iW.play.addClass('disabled'); }
        else { map.iW.play.removeClass('disabled'); }
        map.iW.play.attr('onclick', "playVideo(" + (user.video_id ? ("'" + user.video_id + "'") : null) + ");");

        if (typeof (favorites[user.id]) === 'number') { map.iW.favorite.addClass('active'); }
        else { map.iW.favorite.removeClass('active'); }
        map.iW.favorite.attr('onclick', 'createFavorite(' + user.id + ', $(this));');


        /* Markers */


        map.markers[user.id] = new google.maps.Marker({

            position: new google.maps.LatLng(user.latitude, user.longitude),
            map: map.googleMap,
            title: user.name,
            icon: (user.is_provider === true ? '<%= asset_path "new/search/map-pin-green.png" %>' : '<%= asset_path "new/search/map-pin-black.png" %>'),
            html: '<div class="info-window">' + $('#map-overlay').html() + '</div>'

        });


        /* Connect marker clicks to info windows */


        google.maps.event.addListener(map.markers[user.id], 'click', function () {

            map.infoWindow.setContent(this.html);
            map.infoWindow.open(map.googleMap, this);

        });


    });

}
function listSearch(providers) {

    $('#providers').html('');

    providers.forEach(function (user) {

        user.hourly_rate = calculateCost(user.hourly_rate);

        if (user.state) { user.state = (user.state.length > 2)? states[user.state] : user.state.toUpperCase(); }
        else { user.state = 'NY'; }

        user.avatar_url = (user.avatar_url === null) ? '<%= asset_path "new/main/avatar.png" %>' : user.avatar_url;

        $('#first-item').prop('title', user.years_in_industry);

        $('#first-item .avatar').attr('src', user.avatar_url);

        $('#first-item .play').attr('onclick', "playVideo(" + (user.video_id ? ("'" + user.video_id + "'") : null) + ");");

        $('#first-item .avatar').attr('onclick', 'profileId=' + user.id + '; back="search"; loadPage("/profile");');
        $('#first-item .title').attr('onclick', 'profileId=' + user.id + '; back="search"; loadPage("/profile");');

        if (user.badge === 'no') { $('#first-item .lt-drop').addClass('hidden'); }
        else { $('#first-item .lt-drop').addClass(user.badge); }

        $('#first-item .title').html('<p class="name">' + user.name + '</p>' + user.city_name + ', ' + user.state);
        $('#first-item .description').html(user.description);

        $('#first-item .distance').html(user.hourly_rate);

        if (typeof (favorites[user.id]) === 'number') { $('#first-item .favorite').addClass('active'); }
        else { $('#first-item .favorite').removeClass('active'); }
        $('#first-item .favorite').attr('onmousedown', 'createFavorite(' + user.id + ', $(this));');

        $('#providers').append('<div class="list-item">' + $('#first-item').clone().html() + '</div>');

    });

    //sortUsers('cost');

}
function filterUsers(callback) {
    $('#filter').hide();
    $('#content-preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/users/search_users',
        data: 'query=' + $('#query').val() +
              '&category_id=' + $('#category_id').val() +
              '&school_id=' + $('#school_id').val(),
        error: Response
    }).done(function (data) {
        $('#content-preloader').hide();

                users = data['response'];

                callback(users);
    });

    return false;
}
function hideSearchOption (e) {
    if(e.is(':visible')) { e.hide(); }
    else { e.show(); }
}
function prepareFilter(filterType) {

    $.ajax({
        url: 'http://backend.liquidtalent.com/get_info',
        error: function (error) { Response(error); }
    }).done(function (data) {
        global_info = data['response'];

        $('#industries').html('<div class="option" onclick="setCategory(null, \'\');filterUsers(' + filterType + ');">All Industries</div>');

        data['response']['categories'].forEach(function (item) {
            $('#industries').append('<div class="option" onclick="setCategory(' + item['id'] + ', \'' + item['name'] + '\'); filterUsers(' + filterType + ');">' + item['name'] + '</div>')
        })

    });

    $('#industries').parent().mouseenter(function () { if (!$('#industries').is(':visible')) { hideSearchOption($('#industries')); } });
    $('#industries').parent().mouseleave(function () { hideSearchOption($('#industries')); });

    $('#schools').parent().mouseenter(function () { if (!$('#schools').is(':visible')) { hideSearchOption($('#schools')); } });
    $('#schools').parent().mouseleave(function () { hideSearchOption($('#schools')); });

    $($('.sort-by')[0]).parent().mouseenter(function () {
        $('.sort-by:not(.default)').each(function (i, e) { $(e).css('display', 'block'); });
    });
    $($('.sort-by')[0]).parent().mouseleave(function () {
        $('.sort-by').each(function (i, e) { $(e).removeAttr('style'); });
    });
    $('.sort-by').each(function (i, e) {

        $(e).mouseup(function () {

            $('.sort-by').each(function (i, e) { $(e).removeClass('active'); $(e).html(''); });
            $(this).parent().prepend($(this));
            $(this).addClass('active');

            $('.sort-by.default').hide();

            if ($('#providers')) { sortUsers(this.title); }

        });

    });

    if(currentUser != null) {
        $('.sort-by.distance').show();
    }
    else {
        $('.sort-by.distance').hide();
    }

    $('#industries').parent().find('.text-field').val(filter_settings.category.label);
    $('#schools').parent().find('.text-field').val(filter_settings.college.label);
    $('.search-field').val(filter_settings.query);
    $('#query').val(filter_settings.query);
    $('#category_id').val(filter_settings.category.value);

}
function sortUsers (sortBy) {
    if (sortBy === 'cost') {
        users.sort(function(a, b) {
            a['hourly_rate'] = a['hourly_rate'] == null ? '' : a['hourly_rate'];
            b['hourly_rate'] = b['hourly_rate'] == null ? '' : b['hourly_rate'];

            return a['hourly_rate'].length - b['hourly_rate'].length;
        });

        listSearch(users.reverse());
    }
    else if (sortBy === 'experience') {
        users.sort(function(a, b) {
            return a['years_in_industry'] - b['years_in_industry'];
        });

        listSearch(users.reverse());
    }
    else if (sortBy == 'distance') {
        getCurrentLocation(function(loc) {
            if(loc) {
                for(var i = 0; i < users.length; i++) {
                    if(users[i]['latitude'] == null | users[i]['longitude'] == null) {
                        users[i].distance = 99999999;
                    }
                    else {
                        users[i].distance = computeDistance(loc.lat, loc.lng, users[i]['latitude'], users[i]['longitude']);
                    }
                }

                users.sort(function(a, b) {
                    return a.distance - b.distance;
                });
            }

            listSearch(users);
        });
    }
}

/***** Favorite *****/

function createFavorite(userID, button) {

    if (currentUser !== null) {

        if (/active/.test(button.prop('class'))) { destroyFavorite(userID, button); }
        else {

            button.addClass('active');

            $.ajax({
                url: 'http://backend.liquidtalent.com/favourite/create?token=' + currentUser.token + '&demander_id=' + currentUser.id + '&provider_id=' + userID,
                error: Response
            }).done(function (user) {

                        if (user.status === 'ok') { favorites[user.provider_id] = user.id; }

                    });

        }

    }
    else {

        loadPage('/login');

    }

}
function destroyFavorite(userID, button) {

    button.removeClass('active');

    $.ajax({
        url: 'http://backend.liquidtalent.com/favourite/destroy?token=' + currentUser.token + '&favourite_id=' + favorites[userID],
        error: Response
    }).done(function (user) {

        if (user.status === 'ok') { favorites[userID] = null; }

    });

}
function getFavorites() {

      $.ajax({
            url: 'http://backend.liquidtalent.com/favourites/list?token=' + currentUser.token + '&demander_id=' + currentUser.id,
            error: Response
        }).done(function (users) {

            favorites = {};
            users.response.forEach(function (user) { favorites[user.provider.id] = user.favourite_id; });

        });

}
function loadFavorites() {

    if(currentUser === null) {
        showPlaceholder('Favorites');
        return false;
    }

    $('#content-preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/favourites/list',
        data: 'demander_id=' + currentUser['id'] +
                '&token=' + currentUser['token'] +
                '&offset=0' +
                '&limit=999',
        error: Response
    }).done(function (data) {

        $('#content-preloader').hide();

        data['response'].forEach(function (item) {

            user = item['provider'];

            user.hourly_rate = calculateCost(user.hourly_rate);
            user.state = checkState(user.state);

            user.avatar_url = (user.avatar_url === null) ? '<%= asset_path "new/main/avatar.png" %>' : user.avatar_url;

            $('#first-item .avatar').attr('src', user.avatar_url);

            $('#first-item .avatar').attr('onclick', 'profileId=' + user.id + '; back="favorites"; loadPage("/profile");');
            $('#first-item .title').attr('onclick', 'profileId=' + user.id + '; back="favorites"; loadPage("/profile");');

            if (user.badge === 'no') { $('#first-item .lt-drop').addClass('hidden'); }
            else { $('#first-item .lt-drop').addClass(user.badge); }

//            if (user.video_url === null) { $('#first-item .play').addClass('disabled'); }
//            else { $('#first-item .play').removeClass('disabled'); }

            $('#first-item .title').html('<p class="name">' + user.name + '</p>' + user.city_name + ', ' + user.state);
            $('#first-item .description').html(user.description);

            $('#first-item .distance').html(user.hourly_rate);

            if (typeof (favorites[user.id]) === 'number') { $('#first-item .favorite').addClass('active'); }
            else { $('#first-item .favorite').removeClass('active'); }
            $('#first-item .favorite').attr('onmousedown', 'createFavorite(' + user.id + ', $(this));');

            $('#first-item .removeFavorite').attr('id', item['favourite_id']);

            $('#first-item .message').attr('onclick', 'back="favorites"; loadChat(\'' + user.id + ':' + user.name + '\');');
            $('#first-item .hire').attr('onclick', 'back="favorites"; providerId=' + user.id + '; loadPage("/hire");');

            $('#favorites').append('<div class="list-item">' + $('#first-item').clone().html() + '</div>');

        });

        $('.list-item .removeFavorite').on('click', function() {

            removeFavorite($(this).prop('id'));

            $('.removeFavorite').each(function (i, e) {

                $(e).css('display', ($(e).css('display') === 'block' ? 'none' : 'block'));

            });

        });

    });

    return false;

}
function removeFavorite(favourite_id) {
    $('#content-preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/favourite/destroy?token=' + currentUser.token + '&favourite_id=' + favourite_id,
        error: Response
    }).done(function (user) {
        $('#content-preloader').hide();

        if (user.status === 'ok') {
            $('#' + favourite_id).parents('.list-item').remove();
        }

    });
}

/***** Messages *****/

function checkUnreadMessages() {

    var notification = $('.navigation .messages .notification');

    $.ajax({
        url: 'http://backend.liquidtalent.com/messages/list?user_id=' + currentUser['id']
    }).done(function (data) {

        if (typeof (data['response']) !== 'undefined' &&
            typeof (data['response'][0]) !== 'undefined') {

            notification.addClass('active');
            notification.html('0');

            data['response'].reverse();

            for (var i = 0; i < data['response'].length; i++) {

                messages[i] = data['response'][i];

                if (data['response'][i].unread_messages > 0) {
                    notification.html(parseInt(notification.html(), 0) + data['response'][i].unread_messages);
                }

            }

            if (parseInt(notification.html(), 0) === 0) { notification.removeClass('active'); }

        }
        else { notification.removeClass('active'); }

    });

    setTimeout(checkUnreadMessages, 10000);

}
function loadMessages() {

    if (messages.length === 0) { showPlaceholder('Messages'); }
    else {

        $('#background').html(
            '<div id="title">' +
                'Messages' +
                '<a class="black-button" href="javascript:ToggleMessageDelete();">Edit</a>' +
            '</div>' +
            '<div id="messages"></div>'
        );

        for (var i = 0; i < messages.length; i++) {

            if (messages[i].last_message === null) {

                messages[i].last_message = {

                    contents: messages[i].sender.description,
                    created_at: new Date().toJSON()

                };

            }

            $('#messages').html($('#messages').html() +
                '<div onclick="loadChat(\'' + messages[i].sender.id + ':' + messages[i].sender.name + '\');" class="message-box">' +
                    '<a href="javascript:blockUser(' + messages[i].sender.id + ');" class="black-button t">x</a>' +
                    '<div class="avatar-container">' +
                        '<img src="' + ((messages[i].sender.avatar_url !== null) ? messages[i].sender.avatar_url : '<%= asset_path "new/main/avatar.png" %>') + '" alt="User Avatar">' +
                    '</div>' +
                    '<div class="name">' +
                        messages[i].sender.name +
                        '<div class="green-button' + ((messages[i].unread_messages > 0) ? ' active' : '') + '"></div>' +
                    '</div>' +
                    '<div class="content">' + messages[i].last_message.contents + '</div>' +
                    '<div class="time">' + time12Hour(messages[i].last_message.created_at.replace(/^.*T(\d{2}\:\d{2})\:\d{2}.\d{3}Z/, '$1')) + '</div>' +
                '</div>'
            );

        }

    }
    $('#background #title .black-button').on('mouseup', function () {

        $('.message-user .black-button').each(function (i, e) {

            if (/active/.test($(e).prop('class'))) { $(e).removeClass('active'); }
            else { $(e).addClass('active'); }

        });

    });

}
function ToggleMessageDelete () {

    $('.message-box .black-button').css('display',
        $('.message-box .black-button').css('display') === 'block' ? 'none' : 'block'
    );
    return false;

}
function blockUser(user_id) {

    $.ajax({
        url: 'http://backend.liquidtalent.com/messages/block_user?user_id=' + currentUser.id + '&blocked_user_id=' + user_id,
        error: Response
    }).done(function (data) {

        messages = $.grep(messages, function (value) {

            return value.sender.id != user_id;

        });

        $('#' + user_id).remove();

    });

}

function loadChat(user) {

    user = user.split(':');

    console.log(user);

    $.ajax({
        url: 'http://backend.liquidtalent.com/nda/show?user_id_1=' + currentUser.id + '&user_id_2=' + user[0],
        error: Response
    }).done(function (nda) {

        nda = nda.response[0];

        $('#background').html(
            '<div id="title">' +
                ((nda === undefined) ?
                    '<a href="javascript:sendNDA(' + user[0] + ', \'' + user[1] + '\');" class="green-button">Send NDA</a>'
                    :
                    '<div id="nda-sent">' +
                        '<b>NDA</b> sent on ' + new Date(parseInt(nda.created_at, 10)).toJSON().replace(/\d{2}(\d{2})-(\d{2})-(\d{2})T.*$/, '$2/$3/$1') +
                    '</div>'
                ) +
                'Messages' +
                '<a class="black-button" href="javascript:loadMessages();">Back</a>' +
            '</div>' +
            '<div id="chat"></div>' +
            '<div id="chat-area">' +
                '<textarea placeholder="Message" id="chat-box">' +
                '</textarea><a href="javascript:createChat(' + user[0] + ');" class="green-button" id="post-chat">Send</a>' +
            '</div>'
        );

    });

    $.ajax({
        url: 'http://backend.liquidtalent.com/messages/conversation?user_id_1=' + currentUser.id + '&user_id_2=' + user[0],
        error: Response
    }).done(function (chat) {

        chat = chat.response;

        console.log(chat);
        console.log($('#chat'));

        for (var i = 0, date, time; i < chat.length; i++) {

            $.ajax({
                url: 'http://backend.liquidtalent.com/messages/viewed?sender_id=' + chat[i].message.sender_id + '&receiver_id=' + chat[i].message.receiver_id + '&ts=' + chat[i].message.ts,
                error: Response
            });

            date = chat[i].message.created_at.replace(/\d{2}(\d{2})-(\d{2})-(\d{2})T.*$/, '$2/$3/$1');
            time = chat[i].message.created_at.replace(/^.*(\d{2}\:\d{2})\:\d{2}.\d{3}Z/, '$1');

            $('#chat').prepend(

                '<div class="message-box">' +
                    '<div class="avatar-container">' +
                        '<img src="' + ((chat[i].sender.avatar_url !== null) ? chat[i].sender.avatar_url : '<%= asset_path "new/main/avatar.png" %>') + '" alt="User Avatar">' +
                    '</div>' +
                    '<div class="name">' +
                        chat[i].sender.name +
                    '</div>' +
                    '<div class="content">' + chat[i].message.contents + '</div>' +
                    '<div class="time">' + time12Hour(time) + '</div>' +
                '</div>'

            );

        }

    });

}
function createChat (user_id) {

    var date = new Date();

    if ($('#chat-box').val().replace(/\s+/, '').length > 0) {

        $.ajax({
            url: 'http://backend.liquidtalent.com/message/create?' +
                    'token=' + currentUser.token +
                    '&sender_id=' + currentUser.id +
                    '&receiver_id=' + user_id +
                    '&contents=' + $('#chat-box').val() +
                    '&created_at=' + Math.floor(date / 1000),
            error: Response
        }).done(function (chat) {

            if(chat.status === 'failed') { alert(errors[0]); }
            else {

                time = date.toJSON().replace(/^.*T(\d{2}\:\d{2})\:\d{2}.\d{3}Z/, '$1');

                $('#chat').html($('#chat').html() +

                    '<div class="message-box">' +
                        '<div class="avatar-container">' +
                            '<img src="' + currentUser.avatar_url + '" alt="User Avatar">' +
                        '</div>' +
                        '<div class="name">' +
                            currentUser.name +
                        '</div>' +
                        '<div class="content">' + $('#chat-box').val() + '</div>' +
                        '<div class="time">' + time12Hour(time) + '</div>' +
                    '</div>'

                );

                $('#chat').animate({ scrollTop: $('#chat :last').offset().top }, 300, 'linear', null);

            }

        });

    }

}
function sendNDA (user_id, user_name) {

    $.ajax({
        url: 'http://backend.liquidtalent.com/nda/create?' +
                'user_id_1=' + currentUser.id +
                '&token=' + currentUser.token +
                '&user_id_2=' + user_id +
                '&user_name_1=' + currentUser.name +
                '&user_name_2=' + user_name,
        error: Response
    }).done(function () {

        $('#title .green-button').remove();

        $('#title').prepend(
            '<div id="nda-sent">' +
                '<b>NDA</b> sent on ' + new Date().toJSON().replace(/\d{2}(\d{2})-(\d{2})-(\d{2})T.*$/, '$2/$3/$1') +
            '</div>'
        );

    });

}
function time12Hour (time) {

    var hours = parseInt(time.replace(/\:\d{2}/, ''), 10);
    var minutes = time.replace(/\d{2}\:/, '');

    var suffex = (hours >= 12)? 'pm' : 'am';

    hours = (hours > 12)? hours -12 : hours;
    hours = (hours == '00')? 12 : hours;

    return hours + ':' + minutes + suffex;

}

/***** Favorites *****/

function checkState (state) {
    if (state) { state = (state.length > 2)? states[state] : state.toUpperCase(); }
    else { state = 'NY'; }

    return state;
}

function loadStats(term) {
    if(currentUser == null) {
        showPlaceholder('Stats');
        return false;
    }

    $('#content-preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/stats/show?user_id=' + currentUser.id + '&token=' + currentUser.token + '&timeframe=' + term,
        error: Response
    }).done(function (user) {
        if (user.status === 'ok') {
            var total = user['response']['paid'] + user['response']['unpaid'];

            $('#current-balance').html('$' + (total - user['response']['paid']));
            $('#total-earnings').html('$' + total);

            if(currentUser.is_provider) {
                $('.drp').addClass('dropimg-provider');
                $('#current-projects').html(user['response']['provided_bookings_current']);
                $('#completed-projects').html(user['response']['provided_bookings_completed']);
            }
            else {
                $('.drp').addClass('dropimg-demander');
                $('#current-projects').html(user['response']['demanded_bookings_current']);
                $('#completed-projects').html(user['response']['demanded_bookings_completed']);
                $('#earnings-chart').siblings('.title').html('Payments');
            }


            var drop_total = 0;
            var drop_name = '';

            if(total < 1000) {
                drop_total = 1000 - total;
                drop_name = 'blue';
                $('#drop1 > div.bar ').css('width', Math.round((365 * (total / 1000))) + 'px');
            }
            else if(total < 5000) {
                drop_total = 5000 - total;
                drop_name = 'bronze';
                $('#drop1 > div.bar ').css('width', '365px');
                $('#drop2 > div.bar ').css('width', Math.round((365 * (total / 5000))) + 'px');
            }
            else if(total < 10000) {
                drop_total = 10000 - total;
                drop_name = 'silver';
                $('#drop1 > div.bar ').css('width', '365px');
                $('#drop2 > div.bar ').css('width', '365px');
                $('#drop3 > div.bar ').css('width', Math.round((3365 * (total / 10000))) + 'px');
            }
            else if(total < 25000) {
                drop_total = 25000 - total;
                drop_name = 'gold';
                $('#drop1 > div.bar ').css('width', '365px');
                $('#drop2 > div.bar ').css('width', '365px');
                $('#drop3 > div.bar ').css('width', '365px');
                $('#drop4 > div.bar ').css('width', Math.round((365 * (total / 25000))) + 'px');
            }
            else {
                drop_total = null;
            }

            if(drop_total == null) {
                $('#dew-drops').hide();
            }
            else {
                $('#drop-total').html(drop_total);
                $('#drop-name').html(drop_name);
            }

            var bookings = [];
            var earnings = [];
            var favourites = [];
            var profile_views = [];
            var video_views = [];

            user['response']['stats'].forEach(function(item) {
                if(currentUser.is_provider) {
                    bookings.push([item['date'] * 1000, item['provided_bookings']]);
                    earnings.push([item['date'] * 1000, item['earnings']]);
                    favourites.push([item['date'] * 1000, item['favourited_by_demanders']]);
                }
                else {
                    bookings.push([item['date'] * 1000, item['demanded_bookings']]);
                    earnings.push([item['date'] * 1000, item['payments']]);
                    favourites.push([item['date'] * 1000, item['favourited_providers']]);
                }
                profile_views.push([item['date'] * 1000, item['profile_views']]);
                video_views.push([item['date'] * 1000, item['video_views']]);
            });

            chart_options.series[0].data = bookings;
            new Highcharts.Chart(chart_options);

            chart_options.chart.renderTo = 'earnings-chart';
            chart_options.series[0].data = earnings;
            new Highcharts.Chart(chart_options);

            chart_options.chart.renderTo = 'favourites-chart';
            chart_options.series[0].data = favourites;
            new Highcharts.Chart(chart_options);

            chart_options.chart.renderTo = 'profile-views-chart';
            chart_options.series[0].data = profile_views;
            new Highcharts.Chart(chart_options);

            chart_options.chart.renderTo = 'video-views-chart';
            chart_options.series[0].data = video_views;
            new Highcharts.Chart(chart_options);

            $('#content-preloader').hide();
        }

    });
}

function setStatsTerm(term, name) {
    $('#term-selector').html(name);
    $('#term-selector-options').hide();

    loadStats(term);
}

function loadProfile() {

    $('#content-preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/show?user_id=' + profileId,
        error: Response
    }).done(function (user) {

        user = user['response']['user'];

        $('#content-preloader').hide();

        if (user.state != null) { user.state = (user.state.length > 2)? states[user.state] : user.state.toUpperCase(); }
        else { user.state = 'NY'; }

        $('#profile .avatar').attr('src', (user.avatar_url) ? user.avatar_url : '<%= asset_path "new/main/avatar.png" %>');

        //if (user.video_id === null) { $('#profilem .play').addClass('disabled'); }

        $('#profile .play').attr('onclick', "playVideo(" + (user.video_id ? ("'" + user.video_id + "'") : null) + ");");

        $('#profile-buttons .message-button-profile').attr('onclick',
            'javascript:loadChat(\'' + user.id + ':' + user.name + '\');'
        );

        $('#profile .title').html('<p class="name">' + user.name + '</p>' + user.city_name + ', ' + user.state);
        $('#profile .description').html(user.description);

        if (typeof (favorites[user.id]) === 'number') { $('#profile .favorite').addClass('active'); }
        else { $('#profile .favorite').removeClass('active'); }
        $('#profile .favorite').attr('onmousedown', 'createFavorite(' + user.id + ', $(this));');

        if(user.portfolio) {
            $('#profile-portfolio').show();
            $('#profile-portfolio a').attr('href', user.portfolio);
        }
        else {
            $('#profile-portfolio').hide();
        }


        if(user.is_provider) {

            $('#profile-provider').show();
            $('#profile-demander').hide();

            if(user.skills != null && user.skills.length > 0) {
                $('.profile-item.skills').show();
                $('#profile-skills').html(user.skills);
            }
            else {
                $('.profile-item.skills').hide();
            }

            if(user.summary != null && user.summary.length != '') {
                $('.profile-item.summary').show();
                $('#profile-summary').html(user.summary);
            }
            else {
                $('.profile-item.summary').hide();
            }

            if(user.experience != null && user.experience.length > 0) {
                $('.profile-item.experience').show();
                $('#profile-experience').html(user.experience);
            }
            else {
                $('.profile-item.experience').hide();
            }

            if(user.school_name != null && user.school_name.length > 0) {
                $('.profile-item.education').show();
                $('#profile-education').html(user.school_name);
            }
            else {
                $('.profile-item.education').hide();
            }

            $('.hire-button-profile').attr('onclick', 'back="profile"; providerId=' + user.id + '; loadPage("/hire");');

        }

    });

}

function calculateCost (rate) {

    if (typeof(rate) === 'number') {

        if (rate > 200) { rate = 5; }
        else if (rate > 75) { rate = 4; }
        else if (rate > 25) { rate = 3; }
        else if (rate > 15) { rate = 2; }
        else { rate = 1; }

        switch (rate) {

            case 1: rate = '$'; break;
            case 2: rate = '$$'; break;
            case 3: rate = '$$$'; break;
            case 4: rate = '$$$$'; break;
            case 5: rate = '$$$$$'; break;

        }

        return rate;

    }
    else { return rate; }

}

/***** Video *****/

function uploadVideo() {
    $('#preloader').show();

    var s3_upload = false;
    var vimeo_upload = false;

    //  Amazon S3 upload
    $.ajax({
        url: 'http://backend.liquidtalent.com/user/set_video',
        type: 'POST',
        contentType: false,
        processData: false,
        data: function () {
            var rq_data = new FormData();
            rq_data.append("user_id", currentUser.id);
            rq_data.append("token", currentUser.token);
            rq_data.append("video", $('#video').get(0).files[0]);
            return rq_data;
        }(),
        error: Response
    }).done(function (data) {
        s3_upload = true;

        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
        }
        else {
            currentUser['video_url'] = data['response']['url'];
        }

        //if(vimeo_upload) {
            alert('The video has been successfully uplaoded!');
            $('#preloader').hide();
        //}
    });

    //  Vimeo upload
    /*
    $.ajax({
        url: '/video/get_ticket',
        error: Response
    }).done(function (ticket) {
                $.ajax({
                    url: ticket.upload_link,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: function () {
                        var rq_data = new FormData();
                        rq_data.append("file_data", $('#video').get(0).files[0]);
                        return rq_data;
                    }(),
                    complete: function (res, status, xhr) {     alert('/video/get_id?url=' + xhr.getResponseHeader("Location"));
                            $.ajax({
                                url: '/video/get_id?url=' + xhr.getResponseHeader("Location"),
                                error: Response
                            }).done(function (data) {
                                        vimeo_upload = true;

                                        //if(s3_upload) {
                                            alert('The video has been successfully uplaoded!' + data['id']);
                                            $('#preloader').hide();
                                        //}
                            });
                    }
                });
    });
    */
}

function playVideo(video_url) {
    if(video_url == null || video_url == '') {
        alert('Sorry, this user has no video pitch.');
        return;
    }

    $('#preloader').show();

    $.ajax({
        url: '/video',
        error: Response
    }).done(function (data) {
        $('#background').append(data);

        /*
            jwplayer("player").setup({
                wmode: "transparent",
                file: video_url,
                provider:'http',
                autostart: true,
                skin: 'roundster',
                width: 350,
                controlbar: 'bottom'

            });
        */

        $('#video-player').html('<iframe src="//player.vimeo.com/video/' + video_url + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="350" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');

        $('#preloader').hide();
    });
}

/***** Hire *****/

function loadHire() {
    if(currentUser == null) {
        showPlaceholder('Job');
        return false;
    }

    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/show?user_id=' + providerId,
        error: Response
    }).done(function (user) {
        $('#hire .avatar').attr('src', user['response']['user']['avatar_url']);
        $('#hire-title').html(user['response']['user']['name']);

        $('#preloader').hide();
    });
}

function submitBooking() {
    booking.budget   = $('.budget').val();
    booking.due_date = $('.due-date').val();
    booking.description = $('.description').val();

    loadPage('/hire_confirm');
}
function confirmBooking() {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/booking/create?' +
                'token=' + currentUser.token +
                '&demander_id=' + currentUser.id +
                '&provider_id=' + providerId +
                '&budget=' + booking.budget +
                '&due_date=' + (new Date(Date.parse(booking.due_date)).getTime() / 1000) +
                '&description=' + booking.description +
                '&stripe_token=' + $('#stripeToken').val() +
                '&ica_sent=0',
        error: Response
    }).done(function (data) {
                if (data['status'] == 'failed') {
                    alert(data['errors'][0]);
                    $('#preloader').hide();
                }
                else {
                    alert('The new project has been successfully created');
                    loadPage('/projects');
                }


            });
}

function loadProjects() {
    if(currentUser == null) {
        showPlaceholder('Projects');
        return false;
    }

    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/bookings/list_all_bookings?' +
            'token=' + currentUser.token +
            '&user_id=' + currentUser.id,
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
        }
        else {
            var user = null, userType = null;

            data.response.forEach(function(item) {
                bookings[item.booking.id] = item;

                if(item.booking.status != 'rejected') {
                    if(item.demander.id == currentUser.id) {
                        user = item.provider;
                        userType = 'demander';
                    }
                    else {
                        user = item.demander;
                        userType = 'provider'
                    }

                    $('#first-project .avatar').attr('src', (user.avatar_url !== null) ? user.avatar_url : '<%= asset_path "new/main/avatar.png" %>');
                    $('#first-project .name').html(user.name);

                    dueDate = new Date(item.booking.due_date * 1000);

                    $('#first-project .due-date').html((dueDate.getMonth() + 1) + '/' + dueDate.getDate() + '/' + dueDate.getFullYear());
                    $('#first-project .description').html(item.booking.description);
                    $('#first-project .total-amount').html(item.booking.budget);

                    $('#first-project .budget').show();
                    $('#first-project .status').hide();

                    if(userType == 'demander') {
                        if(item.booking.status == 'confirmed') {
                            $('#first-project .status.pending').show();
                        }
                        else if(item.booking.status == 'in_progress' || item.booking.status == 'accepted') {
                            $('#first-project .status.complete').show();
                            $('#first-project .status.complete').attr('onclick', 'bookingId=' + item.booking.id + '; loadPage("/rate");');
                        }
                        else if(item.booking.status == 'completed') {
                            $('#first-project .budget').hide();
                            $('#first-project .status.completed-demander').show();
                        }
                        else if(item.booking.status == 'pending') {
                            $('#first-project .status.pending').show();
                        }
                    }
                    else {
                        if(item.booking.status == 'confirmed') {
                            $('#first-project .status.accept-decline').show();
                            $('#first-project .status-btn.accept').attr('onclick', 'bookingId=' + item.booking.id + '; loadPage("/hire_accept");');
                            $('#first-project .status-btn.decline').attr('onclick', 'bookingId=' + item.booking.id + '; if(confirm("Are you sure you want to decline project?")) rejectBooking();');
                        }
                        else if(item.booking.status == 'in_progress' || item.booking.status == 'accepted') {
                            $('#first-project .status.in-progress').show();
                        }
                        else if(item.booking.status == 'completed') {
                            $('#first-project .budget').hide();
                            $('#first-project .status.completed-provider').show();

                        }
                        else if(item.booking.status == 'pending') {
                            $('#first-project .status.pending').show();
                        }
                    }

                    $('#projects').append('<div class="project">' + $('#first-project').clone().html() + '</div>');
                }
            });
        }

        $('#preloader').hide();
    });
}

function loadRate() {
    $('#rate').hide();
    $('#preloader').show();

    if(bookings[bookingId].demander.id == currentUser.id) {
        user = bookings[bookingId].provider;
    }
    else {
        user = bookings[bookingId].demander;
    }

    $('#rate .avatar').attr('src', (user.avatar_url !== null) ? user.avatar_url : '<%= asset_path "new/main/avatar.png" %>');
    $('#rate .name').html(user.name);

    $('.total-amount').html(bookings[bookingId].booking.budget);

    $('#preloader').hide();
    $('#rate').show();
}

function setRate(r) {
    rate = r;
    $('.rate-stars').css('backgroundPosition', '0px -' + (52 * r) + 'px');

    return false;
}

function rateBooking() {
    $('#preloader').show();

    var userType = null;

    if(bookings[bookingId].demander.id == currentUser.id) {
        userType = 'provider';
    }
    else {
        userType = 'demander';
    }

    $.ajax({
        url: 'http://backend.liquidtalent.com/booking/rate_' + userType + '?' +
                'token=' + currentUser.token +
                '&booking_id=' + bookingId +
                '&rate=' + rate +
                '&review=' + $('#review').val(),
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
        }
        else {
            completeBooking(function() {
                loadPage('/projects');
            });
        }

        $('#preloader').hide();
    });
}
function acceptBooking() {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/booking/accept?' +
                'token=' + currentUser.token +
                '&booking_id=' + bookingId,
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
            $('#preloader').hide();
        }
        else {
            alert('You have successfully accepted this project.');
            loadPage('/projects');
        }
    });
}
function rejectBooking() {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/booking/reject?' +
                'token=' + currentUser.token +
                '&booking_id=' + bookingId,
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
            $('#preloader').hide();
        }
        else {
            alert('You have successfully rejected this project.');
            loadPage('/projects');
        }
    });
}
function completeBooking(callback) {
    $.ajax({
        url: 'http://backend.liquidtalent.com/booking/complete?' +
                'token=' + currentUser.token +
                '&booking_id=' + bookingId,
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
        }
        else {
            callback();
        }
    });
}

function submitSettingsContactForm() {
    $('#preloader').show();

    $.ajax({
        url: cF.href,
        type: 'post',
        data: 'name=' + cF.n.val() + '&email=' + cF.e.val() + '&message=' + cF.m.val(),
        error: Response
    }).done(function () {
        $('#preloader').hide();

        }).done(function (response) {
            if (response.success !== '') { alert(response.success); }
            else { alert(response.error); }

            cF.n.val('');
            cF.e.val('');
            cF.m.val('');
        });
}

function editProfile() {
    $('#preloader').show();

    if(currentUser.is_provider == 1) {
        loadPage('/update_provider');
    }
    else {
        loadPage('/update_demander');
    }

    $('#preloader').hide();
}

function updateProvider() {
    uploadAvatar(function() {
        updateProviderData();
    });
}

function updateProviderData() {
    //  Validate password
    if($('.password').val() != $('.password_confirmation').val()) {
        alert('Passwords are not the same.');
        $('#preloader').hide();
        return false;
    }
    if($('.password').val().length > 0 && $('.password').val().length < 5) {
        alert('Your password is too short.');
        $('#preloader').hide();
        return false;
    }

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/set_details?' +
                'user_id=' + currentUser.id +
                '&token=' + currentUser.token +
                '&attr[name]=' + $('.name').val() +
                '&attr[email]=' + $('.email').val() +
                '&attr[zip]=' + $('.zip').val() +
                '&attr[category_id]=' + $('#category_id').val() +
                '&attr[school_id]=' + $('#school_id').val() +
                '&attr[description]=' + $('.description').val() +
                '&attr[summary]=' + $('.summary').val() +
                '&attr[hourly_rate]=' + $('.hourly_rate').val() +
                '&attr[skills]=' + $('.skills').val() +
                '&attr[portfolio]=' + $('.portfolio').val() +
                '&attr[experience]=' + $('.experience').val() +
                '&attr[years_in_industry]=' + $('.years_in_industry').val() +
                ( ($('.password').val().length > 0) ? ('&attr[password]=' + $('.password').val()) : null ),
        error: Response
    }).done(function (data) {
        if (data['status'] === 'failed') {
            alert(data['errors'][0]);
        }
        else {
            token = currentUser.token;
            currentUser = data.response;
            currentUser.token = token;

            $('#user-info .name').html(currentUser.name);

            alert('You have successfully updated your profile.');
        }

        $('#preloader').hide();
    });
}

function updateDemander() {
    uploadAvatar(function() {
        updateDemanderData();
    });
}

function updateDemanderData() {
    //  Validate password
    if($('.password').val() != $('.password_confirmation').val()) {
        alert('Passwords are not the same.');
        $('#preloader').hide();
        return false;
    }
    if($('.password').val().length > 0 && $('.password').val().length < 5) {
        alert('Your password is too short.');
        $('#preloader').hide();
        return false;
    }

    $.ajax({
        url: 'http://backend.liquidtalent.com/user/set_details?' +
                'user_id=' + currentUser.id +
                '&token=' + currentUser.token +
                '&attr[name]=' + $('.name').val() +
                '&attr[email]=' + $('.email').val() +
                '&attr[zip]=' + $('.zip').val() +
                '&attr[company_name]=' + $('.company_name').val() +
                '&attr[company_description]=' + $('.company_description').val() +
                '&attr[title]=' + $('.title').val() +
                '&attr[category_id]=' + $('#category_id').val() +
                ( ($('.password').val().length > 0) ? ('&attr[password]=' + $('.password').val()) : null ),
        error: Response
    }).done(function (data) {
                if (data['status'] === 'failed') {
                    alert(data['errors'][0]);
                }
                else {
                    token = currentUser.token;
                    currentUser = data.response;
                    currentUser.token = token;

                    $('#user-info .name').html(currentUser.name);

                    alert('You have successfully updated your profile.');
                }

                $('#preloader').hide();
            });
}

function uploadAvatar(callback) {
    $('#preloader').show();

    if(avatar_change) {
        $.ajax({
            url: 'http://backend.liquidtalent.com/user/set_avatar',
            type: 'POST',
            contentType: false,
            processData: false,
            data: function () {
                var rq_data = new FormData();
                rq_data.append("user_id", currentUser.id);
                rq_data.append("token", currentUser.token);
                rq_data.append("avatar", $('#avatar').get(0).files[0]);
                return rq_data;
            }(),
            error: Response
        }).done(function (avatar_data) {
                    if (avatar_data['status'] === 'failed') {
                        alert(avatar_data['errors'][0]);
                    }
                    else {
                        alert('Photo successfully uploaded.');

                        currentUser['avatar_url'] = avatar_data['response']['url'];

                        $('#user-info .avatar').attr('src', currentUser['avatar_url']);

                        callback();
                    }
                });
    }
    else {
        callback();
    }
}

function checkInviteCode(code, callback) {
    $('#preloader').show();

    $.ajax({
        url: 'http://backend.liquidtalent.com/invite_code/check/' + code,
        error: Response
    }).done(function (data) {
        if (data['status'] == 'failed') {
            alert('The invitation code is either invalid or out of date.');
            $('#preloader').hide();
            callback(false);
        }
        else {
            $('#preloader').hide();
            callback(true);
        }
    });
}

function getCurrentLocation(callback) {
    if(currentUser == null || currentUser.zip == null || currentUser.zip == '') {
        callback(false);
    }
    else {
        var lat = '';
        var lng = '';
        var address = '10001';

        geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                lat = results[0].geometry.location.lat();
                lng = results[0].geometry.location.lng();

                callback({lat: lat, lng: lng});

            } else {
                callback(false);
            }
        });
    }
}

function computeDistance(lat1, lon1, lat2, lon2) {
    if (typeof(Number.prototype.toRad) === "undefined") {
        Number.prototype.toRad = function() {
            return this * Math.PI / 180;
        }
    }

    var R = 6371; // km
    var dLat = (lat2-lat1).toRad();
    var dLon = (lon2-lon1).toRad();
    var lat1 = lat1.toRad();
    var lat2 = lat2.toRad();

    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

    return d = R * c;
}

function sendSMS() {
    to = prompt('Please enter the US phone number to which you want ot send an invitation SMS.', 'US Phone Number');

    if(to) {
        $('#preloader').show();

        $.ajax({
            url: '/send_sms/?to=' + to + '&message=' + currentUser.name.split(' ')[0] + ' recommends LiquidTalent to monetize your craft and apply for high paying jobs.',
            error: Response
        }).done(function (data) {
            alert('The SMS has been successfully sent.');
            $('#preloader').hide();
        });
    }
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++)
    {
        var c = ca[i].trim();
        if (c.indexOf(name)==0) return c.substring(name.length,c.length);
    }
    return "";
}

function delete_cookie( name ) {
    document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

function applyForm() {
    $('html, body').delay(500).animate({ scrollTop: $('#newsletter-sign-up').offset().top }, 300, 'linear', null);
}