<!DOCTYPE html>

<html>

<head>

  <title>LiquidTalent | <%= params[:action].sub('_', ' ').split.map(&:capitalize)*' ' %></title>

  <base href="../website/">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <%

     active = {

       signup: (!params[:action][/login|signup/].nil?)? 'class=disabled' : '',
       search: (!params[:action][/search/].nil?)? 'active' : ''

     }

  %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<div id="wrapper">
  <div id="background" <%= active[:signup] %>>
    <%= yield %>
  </div>
  <div id="admin-panel" <%= active[:signup] %>>
    <div class="header">
      <a class="login green-button" href="/login">Login</a>
    </div>
    <div class="navigation">
      <a class="search link <%= active[:search] %> t" href="/search"></a>
      <a class="projects link t" href="/projects"></a>
      <a class="messages link t" href="/messages"></a>
      <a class="favorites link t" href="/favorites"></a>
      <a class="stats link t" href="/stats"></a>
      <a class="lti link t" href="/liquidtalentinc"></a>
    </div>
  </div>
</div>

</body>

</html>