<!DOCTYPE html>

<html>

<head>

  <title>LiquidTalent</title>

  <base href="/">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>

</head>

<body>

<% if params[:code] %>
<script>
    $(document).ready(function () {
        var code = getURLParameter('code');

        $('#preloader').show();

        $('#presentation').animate({ opacity: 0 }, 1000, 'linear').promise().done(function () {
            $('#presentation').css({ display: 'none' });
        });

        $.ajax({
            url: 'http://backend.liquidtalent.com/user/linkedin_token/?code=' + code,
            error: function (error) {
                alert("Problem with connecting to the server.");
                console.log(error['']);
            }
        }).done(function (data) {
            var access_token = data['access_token'];
            linkedin_connect(access_token);
        });
    });
</script>

<% end %>

<div id="wrapper">
  <div id="preloader"></div>
  <div id="background">
    <div id="content-preloader"></div>
    <%= yield %>
  </div>
  <div id="admin-panel">
    <div class="header">
      <a class="login green-button" href="javascript:loadPage('/login')">Login</a>

      <div id="user-info">
        <div>
          <div>
            <img src="" width="45" />Welcome<br><span id="user-name"></span>
          </div>
          <div id="user-drop-down">
            <a id="account-btn" href="javascript: userMenu();">Account<div class="t"></div></a>
            <div id="user-menu">
              <a href="#">Settings</a>
              <a href="javascript: logout();">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="navigation">
      <a class="search link t" href="javascript:loadPage('/map')"></a>
      <a class="projects link t" href="javascript:showPlaceholder('Projects');//loadPage('/projects')"><div class="notification t">0</div></a>
      <a class="messages link t" href="javascript:showPlaceholder('Messages');//loadPage('/messages')"><div class="notification t">0</div></a>
      <a class="favorites link t" href="javascript:showPlaceholder('Favorites');//loadPage('/favorites')"></a>
      <a class="stats link t" href="javascript:showPlaceholder('Stats');//loadPage('/stats')"></a>
      <a class="lti link t" href="javascript:showPlaceholder('LT incs');//loadPage('/liquidtalentinc')"></a>
    </div>
  </div>
</div>

<div id="presentation" style="opacity: 0;display: none;">

<div id="presentation-header">

  <div id="newsletter-sign-up">Sign up to our LiquidTalent newsletter!</div>

  <div id="register-form">
    <input type="text" id="register-form-name" class="field" placeholder="Name">
    <input type="text" id="register-form-email" class="field" placeholder="Email">
    <input type="text" id="register-form-zip" class="field" placeholder="Zip">
    <a href="javascript:SubmitRegisterForm()" id="register-form-send" class="field green-button">Send</a>
  </div>

  <div id="social-twitter-container">

    <div class="appstore-buttons">
      Get the app!
      <div class="ios t"></div>
      <div class="android t"></div>
    </div>

    <a class="twitter-timeline" href="https://twitter.com/LiquidTalent" data-widget-id="437662684415135745" target="_blank">Tweets
      by @LiquidTalent</a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>

  </div>

  <div class="navigation">
    <p>
      <a href="javascript:RevealPage('about');" class="link green-button">About
      </a><a href="javascript:RevealPage('press');" class="link green-button">Press
    </a><a href="javascript:RevealPage('contact');" class="link green-button">Contact</a>
    </p>
  </div>

</div>

<div id="about-page">

  <h1>About</h1>

  <div class="container">

    <div class="presentation-description">

      <div class="header">
        <div class="header-image logo-image"></div>

        <div class="header-text">
          <div class="text-title">
            LiquidTalent
          </div>

          <div class="text-tagline">
            Human Capital Re-Imagined
          </div>
        </div>

        <div class="header-icon">
          <div class="social">
            <a href="http://www.linkedin.com/company/liquidtalent" target="_blank" class="button in t"></a>
            <a href="https://twitter.com/LiquidTalent" target="_blank" class="button tw t"></a>
            <a href="https://www.facebook.com/liquidtalent" target="_blank" class="button fb t"></a>
            <a href="https://plus.google.com/111892577057930602448/posts" target="_blank" class="button gl t"></a>
            <a href="http://statigr.am/liquidtalent" target="_blank" class="button gr t"></a>
            <div class="button ma t"></div>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <h2>Company Overview</h2>

      <p>The LiquidTalent ("LT") marketplace provides a platform for professionals to connect in real-time, based on
        location. LiquidTalent users are encouraged to market their skills and abilities, interact with new professional
        contacts, engage with interested hiring sources, and earn financial capital. LT adds a new dimension to the
        economy by presenting users with real-time, income-earning opportunities based on skills, availability, and
        geographic location. Today, online reputations play an integral role in determining professional credibility.
        LiquidTalent actively demonstrates this credibility through authentic, comprehensive, and professionally-forward
        profiles.</p>

      <p>Through a mobile application, LiquidTalent helps organizations, small-businesses, and individuals discover
        talent based on relevant search criteria including skills, experience, education, hourly rate, reviews and
        ratings. Talent is hired on a per project basis and search results are displayed in the format of both a List
        and a Map. The List showcases talent through a 22 second video and a personal presentation-description of up to 160
        characters. The Map displays the physical location of talent in relation to the user. LiquidTalent is your
        career in your pocket, a never before seen on-the-go professional platform that increases earning potential.
        LiquidTalent is establishing a new paradigm of professional connection and project execution.</p>

      <h2>The LiquidTalent Product</h2>

      <p>LiquidTalent's product acts as a piece of professional digital real estate, creating a space to showcase talent
        and build a sales pipeline. LT's beta application will initially launch on the iOS7 mobile marketplace. †Future
        product releases include an Android app and a fully functioning website designed for desktop, tablet and mobile
        phones. During the account-creation process users can log-in with LinkedIn profiles, thus validating talent and
        making registration quick and easy. LiquidTalent profiles will display users' skills, experience, education,
        hourly rate, reviews and ratings. The platform offers internal messaging, a function to save favorite talent, a
        seamless process for billing and executing legal contracts. The product will also feature LiquidPitch, a
        22-second elevator pitch explaining the what and why behind each user. With the proliferation of online video,
        professionals are becoming increasingly accustomed to marketing themselves through this rich format.</p>
    </div>

    <div class="presentation-description">
      <div class="header">
        <div class="header-image alex-image"></div>

        <div class="header-text">
          <div class="text-title">
            Alex Abelin
          </div>

          <div class="text-tagline">
            Co-Founder + CEO
          </div>
        </div>

        <div class="header-icon only-two">
          <div class="social only-two">
            <a href="http://www.linkedin.com/in/alexabelin" target="_blank" class="button in t"></a>
            <a href="https://twitter.com/alexabelin" target="_blank" class="button tw t"></a>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <p>Alex Abelin, Co-Founder and CEO of LiquidTalent, comes from a background rooted in internet policy, external
        relations and community affairs, and digital sales and marketing. Alex excels in his ability to develop, and
        maintain, authentic relationships with a large number and variety of people. His intuitive nature and ability to
        inspire and draw the best out in others makes him uniquely positioned to build LiquidTalent.</p>

      <p>Prior to starting LiquidTalent, Alex worked for Google for over 7 years, from 2005 to 2013. His career was
        divided between the Sales and Policy departments. In Sales, Alex worked with Fortune 500 companies under the
        Financial Services vertical. In Policy, Alex held the sought-after position of External Affairs Manager. His
        duties included building relationships with government officials, managing an investment fund for nonprofit
        entities, acting as the intermediary between external membership organizations and schools, and producing Google
        focused seminars and events for key stakeholders. Alex served as the chief architect in developing eight Google
        sponsored outdoor WiFi networks; the most notable being the
        <a href="http://chelseaimprovement.com/neighborhood/free_wifi.html">Chelsea CIC WiFi network</a>, the largest
        contiguous NYC WiFi network ever created.</p>

      <p>Alex is a proud member of the World Economic Forum Shapers, Dot2Dot, Summit Series, Nexus Summit and
        StartingBloc. Alex loves traveling and exploring the world; he studied abroad in Florence, Italy and worked
        abroad for Google in Dublin, Ireland. He founded GoogleCaresSF to provide philanthropic opportunities for Google
        employees to serve the local Bay Area community. He's an avid fundraiser and supporter of Paul Newman's Hole in
        the Wall charity and leads teams of runners. He is a proud alumni of UC Berkeley and the Haas School of
        Business. Alex was born San Diego, and currently lives in New York City.</p>
    </div>

    <div class="presentation-description">
      <div class="header">
        <div class="header-image scott-image"></div>

        <div class="header-text">
          <div class="text-title">
            Scott Annan
          </div>

          <div class="text-tagline">
            Co-Founder + COO
          </div>
        </div>

        <div class="header-icon only-two">
          <div class="social only-two">
            <a href="http://www.linkedin.com/in/scottannan" target="_blank" class="button in t"></a>
            <a href="https://twitter.com/AIMbitious" target="_blank" class="button tw t"></a>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <p>Scott Annan, Co-founder and COO, brings a strong background in finance and entrepreneurship to Liquid Talent.
        Having begun his career as a financial analyst, Scott swiftly transitioned to the start-up world having
        co-founded three companies and authored the personal-development book, AIMbitious, which has enjoyed great
        success among college students and entrepreneurs. Scott also writes for the strategy section of Business
        Insider.</p>

      <p>Scott has a deep interest in mobile technology†and the development of mobile applications to make professional
        and social interactions more frequent and valuable. Through his experience as a student, artist, author, and
        finance professional, he has developed a keen sense for the ways to integrate design, technology, marketing and
        financial viability to establish and grow compelling brands. And his passion for social entrepreneurship ensures
        that all the endeavors of which he is a part give back to community.</p>

      <p>Through AIMbitious, Scott is endorsed by <a href="http://www.zappos.com">Zappos.com</a> and their CEO, Tony
        Hsieh, and by Chip Conley, best-selling author of the books PEAK and Emotional Equations and Head of Global
        Hospitality at Airbnb. Scott is recognized by companies such as Zappos and Genentech for his ideas on creating
        fulfillment in the workplace, and has also acted as a speech-writing consultant for presenters at TED Talks.<br>
        Scott grew up outside of Boston and graduated from Colgate University in 2005 with a BA in History. He founded
        <a href="http://AIMbitious.com">AIMbitious.com</a>, a dynamic news site and social network that features video
        interviews, articles, and a social goal-setting application; MyCube, a personal safe that you can lock with your
        iPhone, and Snoxx Socks, a snap-button athletic sock that he co-founded with Olympic Silver Medalist figure
        skater Sasha Cohen. He currently resides in New York City.</p>
    </div>

  </div>

</div>

<div id="press-page">

  <h1>Press</h1>

  <div class="container">
    <div class="presentation-description">
      <h3>Press Article Title</h3>

      <p>February 11, 2014</p>

      <div>
        <div class="left-col">
          <img src="<%= asset_path "presentation/press.jpg" %>" alt="Press Image">
        </div>

        <div class="right-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium dapibus adipiscing. Vivamus
            blandit aliquet odio, id tincidunt leo laoreet at. Suspendisse pharetra ullamcorper mollis. Integer eu
            fermentum ante. Quisque vel accumsan lectus. Maecenas bibendum nunc ac urna ultricies, et molestie nisl
            posuere. Quisque vitae tincidunt mauris. Vivamus lacinia convallis malesuada. In mollis ornare orci non
            feugiat. Vivamus pretium vitae dolor vel euismod. Mauris venenatis neque sit amet sem placerat, id rhoncus
            metus lobortis. Mauris placerat porta nulla eu mattis. Curabitur a purus ut sapien facilisis gravida. Nulla
            ipsum erat, tincidunt at suscipit sit amet, placerat ac turpis. Proin posuere metus felis, in sollicitudin
            erat euismod nec.</p>

          <p>Sed interdum diam libero, tincidunt eleifend purus scelerisque sit amet. Aliquam laoreet blandit odio eu
            facilisis. Donec id ullamcorper velit, id pellentesque metus. Praesent et libero lorem. Maecenas velit mi,
            pulvinar in arcu id, faucibus luctus dui. Mauris malesuada ipsum a fermentum rutrum. Phasellus sem purus,
            sodales non lectus non, convallis tempor nibh. Phasellus nibh dolor, gravida ac volutpat ac, tristique non
            metus.</p>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>

</div>

<div id="contact-page">

  <h1>Contact</h1>

  <div class="container">
    <div id="contact-form">
      <input type="text" class="name field" placeholder="Name *">
      <input type="text" class="email field" placeholder="Email *">
      <input type="text" class="phone field" placeholder="Phone Number">
      <input type="text" class="reason field" placeholder="Reason For Contact">
      <textarea class="message field" placeholder="Message *"></textarea>
      <a href="javascript:SubmitContactForm()" class="contact green-button">Contact</a>
      <img src="<%= asset_path "main/loader.gif" %>" alt="contact" class="loader">
    </div>
  </div>

</div>

<div id="privacy-page">
  <h1>Privacy</h1>

  <div class="container">
    <div class="presentation-description">
      <p>
        To Our Clients:
      </p>

      <p>
        Your privacy is important to us, and maintaining your trust and confidence is one of our highest priorities. We
        respect your right to keep your personal information confidential and understand your desire to avoid unwanted
        solicitations. A recent law change requires us (along with banks, brokerage houses, and other financial
        institutions) to disclose our Customer Privacy Policy to you ñ which we are more than happy to do. We hope that
        by
        taking a few minutes to read it, you will have a better understanding of what we do with the information you
        provide us and how we endeavor to keep it private and secure. To read our Privacy Policy click here.
      </p>

      <p>
        Liquid Talent, Inc. ("LiquidTalent") operate websites and domains (LiquidTalent.com; mobile sites:
        twitter.com/liquidtalent) (collectively, the "Sites"). 1. Applicability and Acceptance of Privacy Policies on
        the
        Sites
      </p>

      <p>
        By viewing, accessing, browsing, responding to or submitting content to, or otherwise using the Sites, or
        viewing,
        accessing, browsing, responding to, purchasing or otherwise using any service or product provided by or
        referenced
        in the Sites, you (You, or the Customer) acknowledge, accept, consent and agree to the terms of the privacy
        policies on the Sites.
      </p>

      <p>
        If the Customer does not completely agree to the terms of the privacy policies on the Sites, LiquidTalent asks
        the
        Customer to please not access or use the Sites. Customer further acknowledges, accepts, consents and agrees that
        LiquidTalent may at its option, in its sole and absolute discretion, amend, modify or otherwise change the
        customer privacy policies on the Sites (collectively, Changes) at any time and from time to time, without prior
        notice or cause. All Changes, will become part of this Agreement effective immediately upon LiquidTalent posting
        of the Changes on the Sites, and the Customer hereby automatically and unconditionally acknowledges, accepts,
        consents and agrees to any and all Changes. The Customer hereby acknowledges, consents, accepts and agrees that
        the Customer will carefully review the customer privacy policies on the Sites from time to time on a regular
        basis, so that Customer is aware of Changes. If any such Changes are not entirely acceptable and agreeable to
        the
        Customer, the Customer should immediately discontinue, and no longer access, or use the Sites.
        <br>2. Information that LiquidTalent Collects on the Sites
        LiquidTalent may collect the following type of information from the Customer: first name, last name, street
        address, city, state, zip code, cross streets, phone number, email address, location (e.g. via GPS), and credit
        card or other payment information. LiquidTalent may also collect information concerning the Customer's usage of
        the Sites, as well as preferences, inquiries and comments that the Customer may disclose or otherwise provide
        involving or relating to the products and services that LiquidTalent provides. This information is collectively
        called Personally Identifiable Information, or PII. Through the LiquidTalent Sites, third party merchants and
        others may collect PII that the Customer may from time to time provide.
      </p>

      <p>
        In addition to PII, LiquidTalent may collect aggregated information regarding access and usage that reflect but
        do
        not reveal either the Customer's or other persons' individual PII. This includes information of a demographic,
        computer profile or statistical nature. This information is collectively called Non Personally Identifiable
        Information, or Non PII
        The Customer may from time to time post or otherwise submit to the Sites, or to or through social sites that may
        be linked to the Sites, information, text, images, photographs, video, audio, graphics, branding, logos,
        content,
        material, software, code, interface, products or services (collectively, Customer Content) which may contain PII
        and other personally identifiable information about the Customer or others. By posting or otherwise submitting
        Customer Content with PII or other personally identifiable information, either to the Sites or to or through
        social sites that may be linked to the Sites, the Customer agrees to the publication and other disclosure of
        such
        PII and other personally identifiable information.
        The Sites are not intended for use by children under the age of 18. By viewing, accessing, browsing, responding
        to
        or submitting content to, or otherwise using the Sites, or viewing, accessing, browsing, responding to,
        purchasing
        or otherwise using any service or product provided by or referenced in the Sites, You certify that you are 18
        years of age or older. LiquidTalent does not knowingly collect information from children under the age of 18.
        <br>3. LiquidTalent's Use of Information it Collects on the Sites
        LiquidTalent uses PII from time to time in a number of ways. LiquidTalent uses PII to communicate with the
        Customer concerning LiquidTalent policies and procedures and changes to LiquidTalent's policies and procedures;
        Customer's PII and Non PII; products and services that are offered by or through LiquidTalent; products and
        services that the Customer may express interest in or select; and to advise and bring to the Customer's
        attention
        products and services that may in the future be offered by or through LiquidTalent. This may also include
        enabling
        the Customer to create, edit, publish and distribute communications concerning the products and services offered
        by or through LiquidTalent. LiquidTalent also uses PII to permit the Customer to open accounts and enter into,
        and
        to assist with the completion and execution of, orders and other transactions.
      </p>

      <p>
        LiquidTalent uses Non-PII from time to time in a number of ways. LiquidTalent uses Non-PII to track and analyze
        access and usage of the Sites and to administer, improve and enhance the Sites, improve the Customer experience
        with the Sites, as well as the products and services offered by LiquidTalent by or through the Sites.
        <br>4. LiquidTalent's Disclosure of Information it Collects on the Sites: Routine
        LiquidTalent discloses PII from time to time to its affiliates and third parties to accept, process and fulfill
        an
        order or other transaction; and to vendors and service providers who assist with the development, rollout,
        improvement, hosting and administration of the Sites.
      </p>

      <p>
        LiquidTalent discloses Non PII from time to time to its affiliates and third parties as it shall determine in
        its
        sole and absolute discretion.
        <br>5. LiquidTalent's Disclosure of Information it Collects on the Sites: Non Routine
        LiquidTalent reserves the right in its sole and absolute discretion to disclose PII and Non PII (a) in
        connection
        with a merger or sale of LiquidTalent , or all or any portion of its assets or equity; (b) in connection with
        any
        bankruptcy, reorganization or similar proceeding involving LiquidTalent, (c) as may be required by applicable
        laws
        or regulations of any international, national, federal, or local government or governmental body; or (d) to
        comply
        with legal process including, without limitation, any order, requirement or request of any court or other
        judicial
        body; or (e) as LiquidTalent shall determine in its sole and absolute discretion to defend, protect and secure
        its
        property, rights, business, operations, or other rights.
      </p>

      <p>
        6. Linked Sites
        <br>The Sites may at any time and from time to time display, provide, refer to or contain links to other
        websites
        of third parties. This Privacy Policy does not extend to, cover or in any way address, and LiquidTalent bears no
        responsibility whatsoever for, the privacy practices of any third party including, without limitation, such
        websites. By providing access to such websites, LiquidTalent does not represent, warrant or guarantee the
        privacy
        of Customer PII and Non PII. The Customer's access and use of such links and website is and shall at all times
        remain entirely at the Customer's own risk, including, without limitation regarding the Customer's PII and Non
        PII.
      </p>

      <p>7. LiquidTalent's Protection of Customer PII
        <br>LiquidTalent has designed its Sites to achieve security and protection of PII consistent with prevailing
        industry standards. Notwithstanding, the internet and computers involve substantial risks that PII will not
        remain
        confidential. Accordingly, LiquidTalent can't ensure or guarantee that Customer PII will remain confidential.
      </p>

      <p>
        8. Accessing and Correcting Customer PII; Opt-Out
        <br>A Customer has the right to request a copy of the PII that LiquidTalent maintains concerning the Customer.
        To
        request a copy, the Customer should contact LiquidTalent at: privacy@LiquidTalent.Com. LiquidTalent may charge a
        reasonable fee for this service. The Customer may request LiquidTalent to correct or delete information which
        Customer believes is inaccurate. A Customer may change any of the Customer's profile information by using the
        Edit function in the profile settings page of the Site.
      </p>

      <p>
        A Customer may determine that the Customer no longer wishes to receive emails from LiquidTalent. A Customer may
        effect this by using the Edit button in the profile settings page of the Site.
      </p>
    </div>
  </div>
</div>

<div id="footer">

  <div class="appstore-buttons">
    <div class="ios t"></div>
    <div class="android t"></div>
  </div>

  <div class="navigation">
    <p>
      <a href="javascript:RevealPage('about');" class="link green-button">About
      </a><a href="javascript:RevealPage('press');" class="link green-button">Press
    </a><a href="javascript:RevealPage('contact');" class="link green-button">Contact</a>
    </p>
    <a href="javascript:RevealPage('privacy');" class="link" id="privacy-toggle">Privacy</a>
  </div>

  <div class="social">
    <a href="http://www.linkedin.com/company/liquidtalent" target="_blank" class="button in t"></a>
    <a href="https://twitter.com/LiquidTalent" target="_blank" class="button tw t"></a>
    <a href="https://www.facebook.com/liquidtalent" target="_blank" class="button fb t"></a>
    <a href="https://plus.google.com/111892577057930602448/posts" target="_blank" class="button gl t"></a>
    <a href="http://statigr.am/liquidtalent" target="_blank" class="button gr t"></a>
    <div class="button ma t"></div>
  </div>

</div>

</div>

</body>

</html>